
body {
    margin: 0 !important;;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrapper-img {
    width: 400px;
    height: 400px;
    margin-top: 150px;
    background: url("img/bg1.jpg") center no-repeat;
    position: relative;
    overflow: hidden;
    background-color: #000;
    opacity: 0.8;
}

.container-item {
    width: 400px;
    height: 400px;
}

.wrapper-item {
    position: absolute;
    top: 37%;
    left: 43%;
}

.btn-add {
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    opacity: 1;
    background-color: #8663A9;
    padding: 10px;
    color: #ffff;
    border-radius: 10%;
    cursor: grab;
}

.btn-remove {
    display: none;
    background-color: #8663A9;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10%;
    color: #ffff;
    outline: none;
    cursor: pointer;
}
